#viewport {
    width: device-width ;
    zoom: 1.0 ;
  }

body{
    position: relative;
    background-color: 1F2937;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.mainContainer{
    border: 3px, solid 1F2937;
    border-radius: 3px;
    background-color: 1F2937;

}

h1{
    padding-top: 10vw;
    padding-left: 8vw;
    font-size: 7vw;
    font-weight: bolder;
    color: white;
    margin-bottom: -5%;
}

h2{
    padding-left: 8vw;
    font-size: 7vw;
    font-weight: bolder;
    color: 55F991;
    margin-bottom: -1%;
}

#lower{
    padding-left: 8vw;
    font-size: 4vw;
    font-style: italic;
    font-weight: light;
    color: white;
    margin-bottom: 10%;
}

button{
    position: relative;
    background-color: 273549;
    font-size: 2vw;
    font-weight: bold;
    color: white;
    border: 5px, solid 273549;
    border-radius: 5px;
}

#genButton{
    width: 80%;
    height: 10%;
    margin-top: 5%;
    margin-left: 8%;
    margin-bottom: 5%;
}

.container{
    position: relative;
    background-color: 273549;
    display:inline-flex;
    width: 80%;
    border: 5px, solid 4ADF86;
    border-radius: 5px;
    text-align: center;
    font-size: 3vw;
    font-weight: bold;
    color: 4ADF86;
    margin-left: 8%;
    margin-top: 5%;
    margin-bottom: 5%
}

#firstPassword{
    position: relative;
    padding-top: 4%;
    padding-bottom: 1%;
    background-color: 2F3E53;
    margin-top: 3.1%;
    margin-right: 10%;
    margin-left: 8%;
    width: 40%;
    height: 30px;
    border: 5px, solid 2F3E53;
    border-radius: 5px;

}

#secondPassword{
    position: relative;
    padding-top: 4%;
    padding-bottom: 1%;
    background-color: 2F3E53;
    margin-top: 3.1%;
    width: 40%;
    height: 30px;
    border: 5px, solid 2F3E53;
    border-radius: 5px;
    margin-right: 10%;
}

.clipBoard{
    position: relative;
    display: inline-flex;
    font-size: 2vw;
    margin-left: 3%;
    margin-top: 5%;
    width: 100%;
    height: 30em;
    padding-left: 8%;
    border-radius: 15em;
}

#copyPasswordOne-el{
    margin-left: 2%;
    margin-right: 2%;
    width: 32%;
    height: 10%;
}

#copyPasswordTwo-el{
    margin-left: 5%;
    width: 32%;
    height: 10%;
}

.tickBoxes{
    position: relative;
    display: inline-flex;
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
    color: white;
    margin-right: 4em;
    margin-left: 8%;
    padding-right: 5em;
    margin-bottom: 4em;
}

#numSelect{
    position: relative;
    font-size: 4vw;
    width: 3em;
    height: 2em;
    top: 0.6em;
    margin-left: 1em;
    margin-right: 3%;

}

#symOn-Off{
    position: relative;
    margin-left: 1em;
    margin-right: 3%;

}

#numOn-Off{
    position: relative;
    margin-right: 3%;
    margin-left: 1em;
}

#capsOn{
    position: relative;
    margin-right: 3%;
    margin-left: 1em;
}

#capsOff{
    position: relative;
    margin-right: 3%;
    margin-left: 1em;
}
